$color-Mako: #3B4045;
$color-Black : #000000;
$color-My-Sin: #FDA920;
$color-Mine-Shaft: #3C3C3C;
$color-White: #FFFFFF;
$color-Boulder: #777777;
$color-Mine-Shaft-2: #242424;
$color-Wild-Sand: #F4F4F4;