.button.primary {
    background-color: #FEB648;
    border-radius: 25px;
    height: 50px;
    width: 207px;
    font-size: 18px;
    font-family: 'JosefinSans-Light';
    padding: 16px 33px;
    color: $color-White;
    line-height: 22px;
    box-shadow: 2px 3px 20px #FEB648;
}