.choose {

    margin-bottom: 81px;

    &__title {
        font-size: 40px;
        font-family: 'JosefinSans-Light';
        margin-bottom: 74px;
        line-height: 48px;
        color: $color-Mine-Shaft;
    }

    &__heading {
        color: $color-Mine-Shaft;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 18px;
        margin-top: 94px;
    }

    &__text {
        font-family: 'Josefin Sans', sans-serif;
        color: $color-Mine-Shaft;
        margin-bottom: 18px; 
        font-size: 18px;
        line-height: 22px;
    }

}// choose