.collection {

    margin-bottom: 109px;
    
    &__title {
        font-size: 40px;
        font-family: 'JosefinSans-Light';
        margin-bottom: 70px;
        line-height: 48px;
        color: $color-Mine-Shaft;
    }

}//collection