.footer {

    background-color: $color-Wild-Sand;
    padding-top: 63px;
    padding-bottom: 59px;
    margin-bottom: 22px;

    &__title {
        font-family: 'Josefin Sans', sans-serif;
        color: $color-Black;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 20px;
        
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        color: $color-Black;
        font-family: 'Lora-Italic';
        text-transform: uppercase;
        margin-bottom: 23px;
        line-height: 16px;
    }

    &__copyright {
        color: $color-Black;
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        justify-content: space-around;
        letter-spacing: 2px;
        font-size: 11px;
        line-height: 13px;
    }

}// .footer